<div class="basis-3/12 bg-zinc-800 p-10">
  <h2 class="text-center text-white text-4xl mb-10 font-bold">Deshbord</h2>
  <ul>
    <li>
      <a
        class="text-zinc-400 text-xl py-3 px-5 rounded-md mb-3 w-full inline-block bg-zinc-700 hover:bg-zinc-600"
        href="/addpostpage"
        >Add Post</a
      >
    </li>
    <li>
      <a
        class="text-zinc-400 text-xl py-3 px-5 rounded-md mb-3 w-full inline-block bg-zinc-700 hover:bg-zinc-600"
        href="/edituser"
        >Edit User</a
      >
    </li>
    <li>
      <a
        class="text-white text-xl py-3 px-5 rounded-md mb-3 w-full inline-block bg-green-400 hover:bg-green-600"
        href="/changePassword"
        >Change Password</a
      >
    </li>
    <li>
      <a
        id="deleteAccount"
        class="text-white text-xl py-3 px-5 rounded-md mb-3 w-full inline-block bg-red-700 hover:bg-red-600"
        href="/deleteUser"
        >Delete Account</a
      >
    </li>
    <li>
      <a
        class="text-white text-xl py-3 px-5 rounded-md mb-3 w-full inline-block bg-red-400 hover:bg-red-500"
        href="/logout"
        >Logout</a
      >
    </li>
  </ul>
</div>

<script src="../../public/javascripts/deleteuser.js"></script>
