<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <div class="bg-zinc-900 h-screen w-full p-5">
      <div class="flex flex-col justify-center items-center">
        <h2 class="text-center text-white text-4xl mb-20 font-bold">Reset Your Password</h2>
        <form class="text-zinc-400 flex flex-col w-1/3" action="/otpVerification" method="post">
          <input
            class="bg-transparent border border-zinc-600 p-3 rounded-lg mb-10"
            type="text"
            name="otp"
            placeholder="Enter Your OTP sent to your Email"
          />

          <input
            class="bg-blue-500 p-3 rounded-lg mb-3 text-white"
            type="submit"
            value="Verify OTP"
          />
        </form>
      </div>
    </div>
  </body>
</html>
